
.btn-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1.25rem;
  font-size: 16px;
}

.btn.disabled{
  background-color: #d4edda;
  color: red;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 400px;
  border: 1px solid rgb(165, 165, 165);
  margin: 0 auto;
  gap: 1rem;
  height: 200px;
  padding: 1rem;
}
.skill {
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 2px;
  border: 1px solid #3d3d3d;
  background-color: rgb(107, 106, 106);
  border-radius: 4px;
  display: inline-block;
}